table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

table * {
    color: #4974D1;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
}

thead {
    border-bottom: 1px solid #4974D1;
}

tr:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

th {
    padding: 0 1rem;
}

td {
    padding: 0 1rem;
}
